/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.navbar{
    background:#533E7B ;
    color: white;
    a:link {
        color: white;
    }
    
    
    a:visited {
        color: white;
    }
    
    
    a:hover {
        color:rgb(183, 183, 194);
        background: #533E7B;
    }
    
    
    a:active {
        color: white;
    }
}

.navbar-brand{
    margin-left: 20px;
}

.title{
    background: rgb(151, 123, 202);
    color:white;
    padding-left:25px;
    padding-top: 5px;
    padding-bottom:5px ;
}

.border{
    border-style: outset;
    border-width: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.content{
    padding-left: 10px;
    padding-top: 10px;
}

.navbar-toggler{
    background-color: rgb(151, 123, 202); 
    border: none;
    color: white;
    padding: 10px 25px 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.img{
    padding-left:"15px";
    margin-top:10px;
    padding-right:"15px";
    font-size:16px;
}

